<section class="min-h-screen grid place-items-center px-4 sm:px-8">
  <div class="w-fit flex flex-col justify-center cursor-default md:flex-row text-4xl sm:text-6xl md:text-8xl lg:text-9xl">
    <div>
      <span class="font-light">not</span>
      <span class="text-primary  relative top-[-0.20em] font-semibold">.</span>
    </div>
    <div>
      <span class="font-bold text-accent">akshay</span>
      <span class="text-secondary relative top-[-0.20em] font-semibold">.</span>
      <span class="font-light">p</span>
    </div>
  </div>
</section>
